/* Favorites.css */

/* Base styles (apply to both themes) */
.favorites-page {
    padding: 20px;
}

.favorites-page h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.favorites-list {
    display: flex;
    overflow-x: auto;
    padding-bottom: 15px;
}

.favorite-card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 10px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.favorite-card:hover {
    transform: scale(1.05);
}

.favorite-card a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

.favorite-card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #333;
}

.favorite-card h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.favorite-card p {
    font-size: 0.9em;
}

.remove-button {
    padding: 8px 12px;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

/* Dark theme styles */
.favorites-page.dark-mode {
    background-color: #141414;
    color: #fff;
}

.favorite-card.dark-mode {
    background-color: #222;
    color: #fff;
}

.favorite-card.dark-mode a {
    color: #fff;
}

.favorite-card.dark-mode img {
    border-bottom: 1px solid #333;
}

.favorite-card.dark-mode p {
    color: #ccc;
}

.remove-button {
  background-color: #e50914;
  color: #fff;
}

.remove-button:hover {
    background-color: #b20710;
}



/* Light theme styles */
.favorites-page.light-mode {
    background-color: #f9f9f9;
    color: #333;
}

.favorite-card.light-mode {
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Example shadow for light mode */
}

.favorite-card.light-mode a {
    color: #333;
}

.favorite-card.light-mode img {
    border-bottom: 1px solid #eee; /* Lighter border for light mode */
}

.favorite-card.light-mode p {
    color: #666;
}
.remove-button {
    background-color: #dc3545; /* Bootstrap danger red */
    color: #fff;
}

.remove-button:hover {
    background-color: #c82333;
}