/* Navbar.css */

.navbar {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-dark {
    background-color: #141414;
}

.navbar-light {
    background-color: #fff;
    color: #141414;
}

.navbar-brand a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.logo {
  width: 140px; 
  height: auto;  
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    transition: color 0.3s;
}

.navbar-links li a:hover {
    color: #e50914; /* Netflix Red on hover */
}

/* Styles for ThemeToggle*/
.theme-toggle-container {
    display: flex;
    align-items: center;
}

.theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    padding: 0;
    transition: color 0.3s;

    &:hover {
        color: #e50914;
    }
}

.navbar-dark .theme-toggle-button {
    color: #fff;

    &:hover {
        color: #e50914;
    }
}

.navbar-light .theme-toggle-button {
    color: #000;

    &:hover {
        color: #e50914;
    }
}